.errorPage {
    background-color: var(--white-color);
    width: calc(100vw - 10%);
    height: calc(100vh - 64px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: -32px 0;
}

.errorPage h1 {
    color: var(--red-color);
}

.errorPage p {
    color: var(--black-color);
}
