/* Main Page */
.main {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding: 16px 0;
    border-bottom: 1px solid var(--gray1-color);
}

.main__header__virtualBalance__label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.main__header__virtualBalance__label::after {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8ZyBmaWxsPSJub25lIiBzdHJva2U9IiM0NGI3YTMiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPg0KICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSI5IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41Ii8+DQogICAgICAgIDxwYXRoIHN0cm9rZS13aWR0aD0iMi4yNSIgZD0iTTEyIDE2aC4wMXYuMDFIMTJ6Ii8+DQogICAgICAgIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik0xMiAxMlY4Ii8+DQogICAgPC9nPg0KPC9zdmc+");
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.main__header__virtualBalance__value {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 8px 0;
}

.main__header__virtualBalance__reload::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8ZyBmaWxsPSJub25lIiBzdHJva2U9IiM0NGI3YTMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIj4NCiAgICAgICAgPHBhdGggZD0iTTE5LjkzMyAxMy4wNDFhOCA4IDAgMSAxLTkuOTI1LTguNzg4YzMuODk5LTEgNy45MzUgMS4wMDcgOS40MjUgNC43NDciLz4NCiAgICAgICAgPHBhdGggZD0iTTIwIDR2NWgtNSIvPg0KICAgIDwvZz4NCjwvc3ZnPg==");
    display: grid;
    place-items: center;
    width: 20px;
    height: 40px;
    cursor: pointer;
}

.main__header__question {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: 1px solid var(--gray2-color);
    border-radius: 16px;
    cursor: pointer;
}

.main__header__question::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxNCAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMxNTE2MTgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0ibTcgMTIuNDVsLTUuNTItNWMtMy0zIDEuNDEtOC43NiA1LjUyLTQuMWM0LjExLTQuNjYgOC41IDEuMTIgNS41MiA0LjFaIi8+DQo8L3N2Zz4=");
    width: 20px;
    height: 20px;
}

.main__header__question:hover {
    opacity: 0.7;
}

.main__header__code {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 32px 0 16px 0;
}

.main__header__code span {
    color: var(--green-color);
    font-weight: 500;
}

.main__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
}
/* End of Main Page */
