/* Recharges Page */
.rechargesPage {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rechargesPage__filters {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rechargesPage__provider:last-child .providerCard {
    border-bottom: 0;
}
/* End of Recharges Page */
