@import "./styles/utils.css";
@import "./styles/typography.css";
@import "./styles/mainPage.css";
@import "./styles/rechargesPage.css";
@import "./styles/errorPage.css";

:root {
    --white-color: #fff;
    --black-color: #151618;
    --gray1-color: #f4f5f6;
    --gray2-color: #929ba3;
    --green-color: #44b7a3;
    --orange-color: #eb6f25;
    --red-color: #ce2c33;

    --family-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --transition: 0.2s all ease;
}

* {
    color: var(--black-color);
    list-style: none;
    font-family: var(--family-font);
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.wrapper {
    width: 90%;
    padding: 32px 0;
    margin: 0 auto;
}
